.card-items-details-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-size: cover;
  height: 100vh;
}
.card-Item-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-size: cover;
  height: 90vh;
}
.Card-details-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-size: cover;
  height: 90vh;
  padding: 100px;
}
.Card-details-failure-image {
  width: 300px;
  height: 250px;
}
.Card-details-failure-heading {
  color: #ffffff;
}
.Card-details-failure-description {
  color: #f1f5f9;
}
.Card-details-failure-btn {
  width: 120px;
  height: 40px;
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.card-item-success-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #000000;

  background-size: cover;
  padding: 30px;
}
.card-container {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #272727;
  padding: 50px 20px 50px 20px;
}
.card-item-logo-heading-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card-item-heading-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card-item-company-logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.card-item-job-role {
  color: #f8fafc;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.card-item-rating-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-item-star-icon {
  color: #fbbf24;
  margin-right: 5px;
}
.card-item-rating {
  color: #f8fafc;
  font-weight: 400;
}
.card-item-location-employmentType-salary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-item-location-employmentType-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-item-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.card-item-icon {
  color: #ffffff;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.card-item-icons-text {
  color: #cbd5e1;
  font-weight: 400;
  font-size: 12px;
}
.card-item-salary {
  color: #f8fafc;
  font-size: 22px;
  font-weight: 400;
}
.card-item-horizontal-line {
  border: 1px solid #64748b;
  width: 100%;
}
.description-heading-anchor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-item-description-heading {
  color: #f8fafc;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}
.visit-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.visit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #b6c5ff;
  font-size: 20px;
  margin-right: 5px;
}
.visit-icon {
  color: #b6c5ff;
  height: 20px;
  width: 20px;
  font-weight: 500;
}
.card-item-description {
  color: #cbd5e1;
  font-size: 16px;
  font-weight: 400;
}
.skills-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}
.skills-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.skills-item-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 50px;
}
.skills-image {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.skills-text {
  color: #f1f5f9;
}
.life-at-company-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}
.lifeatCompany-desc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.lifeatCompany-desc {
  width: 70%;
  color: #f1f5f9;
  margin-top: 0px;
}
.lifeatCompany-image {
  width: 28%;
}
.similar-jobs-heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}
.similar-jobs-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
}
.similarJob-item-container {
  width: 30%;
  background-color: #272727;
  padding: 20px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.similarJob-logo-heading-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.similarJob-heading-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.similarJob-company-logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.similarJob-job-role {
  color: #f8fafc;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}
.similarJob-rating-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
}
.similarJob-star-icon {
  color: #fbbf24;
  margin-right: 5px;
}
.similarJob-rating {
  color: #f8fafc;
  font-weight: 400;
}
.similarJob-desc-heading {
  color: #f8fafc;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.similarJob-desc {
  color: #cbd5e1;
  font-size: 14px;
  font-weight: 400;
}
.similarJob-location-employmentType-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.similarJob-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.similarJob-icon {
  color: #ffffff;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.similarJob-icons-text {
  color: #cbd5e1;
  font-weight: 400;
  font-size: 12px;
}
