.jobs-section-container {
  width: 100%;

  background-color: #000000;
  background-size: cover;
  padding: 30px 50px 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-filter-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.horizontal-line {
  border: 1px solid #64748b;
  width: 100%;
}
.filter-employment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.employment-heading {
  color: #f8fafc;
  font-weight: 400;
}
.employment-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0px;
  background-color: transparent;
}

.filter-salary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.salary-heading {
  color: #f8fafc;
  font-size: 18px;
  font-weight: 400;
}
.salary-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0px;
  background-color: transparent;
}
.search-job-card-container {
  width: 67%;
  display: flex;
  flex-direction: column;
}
.search-bar-container {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #64748b;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}
.search-input {
  width: 90%;
  height: 100%;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #f8fafc;
}
.search-icon-btn {
  background-color: #272727;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-icon {
  color: #f8fafc;
}
.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.jobs-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.failure-view-image {
  width: 300px;
  height: 250px;
}
.failure-heading {
  color: #ffffff;
}
.failure-description {
  color: #f1f5f9;
}
.failure-retry-btn {
  width: 100px;
  height: 30px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.No-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.no-jobs-heading {
  color: #ffffff;
  margin-bottom: 0px;
}
.no-jobs-description {
  color: #f1f5f9;
  font-weight: 300;
}
