.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-size: cover;
  height: 100vh;
}
.not-found-image {
  width: 300px;
  height: 300px;
}
.not-found-heading {
  color: #ffffff;
  font-size: 30px;
}
.not-found-description {
  color: #f1f5f9;
  font-size: 16px;
  text-align: center;
}
