.home-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-size: cover;
  height: 100vh;
}
.home-content-container {
  width: 100%;
  height: 90vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 400px;
}
.heading {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}
.description {
  color: #f1f5f9;
  font-size: 18px;
}
.find-jobs-btn {
  background-color: #6366f1;
  color: #ffffff;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}
.find-jobs-link {
  text-decoration: none;
}
@media (max-width: 767px) {
  .home-content-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    padding: 10px;
  }
  .content-container {
    width: 100%;
  }
  .heading {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
  }
  .description {
    color: #f1f5f9;
    font-size: 18px;
    font-weight: 300;
  }
  .find-jobs-btn {
    background-color: #6366f1;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
  }
}
