.login-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  font-family: roboto;
}
.login-box-container {
  width: 300px;
  height: 300px;
  background-color: #272727;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}

.website-logo {
  height: 50px;
  width: 120px;
  align-self: center;
  margin-bottom: 20px;
}
.label-element {
  color: #f8fafc;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}
.input-element {
  width: 100%;
  height: 30px;
  border: 1px solid #64748b;
  padding: 10px;
  border-radius: 6px;
  color: #f8fafc;
  background-color: transparent;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
.login-btn {
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  background-color: #6366f1;
  color: #ffffff;
  text-align: center;
  height: 35px;
  padding: 10px;
  margin-top: 20px;
  font-weight: 500;
}
.form-container {
  background-color: transparent;
}
.err-msg {
  color: #ff0b37;
  margin: 0px;
  font-size: 12px;
}
